<div class="container">    
  
 
<div class="w3-container">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  
  <div class="example-container mat-elevation-z8">
  
    <mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>

     <!-- Name Column -->
     <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

      <!-- Created by Column -->
      <ng-container matColumnDef="createdBy">
        <mat-header-cell *matHeaderCellDef mat-sort-header> createdBy </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.createdBy}} </mat-cell>
      </ng-container>   
  
      <!-- Color Column -->
      <ng-container matColumnDef="details">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Details </mat-header-cell>
        <button mat-icon-button color="primary" (click)="redirectToDetails(element.id)">
            <mat-icon class="mat-18">reorder</mat-icon>
        </button>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  
</div>